/.idea
_*.c
_*.h
*.o
*.a
*.gcno
*.gcda
cov.txt
*.dSYM
*Tests-Listing.xml
*Tests-Results.xml
VERSION
/.project
/.cproject
.*.sw?
*~
/src/vendor
.vagrant/
src/composer.lock
testReport/*
/nbproject/private/
variable.list

# compiled or derived files
install/db/dbcreate
install/defconf/Db.conf
install/defconf/fossology.conf
install/fo-postinstall
src/adj2nest/agent/adj2nest
src/buckets/agent/buckets
src/cli/cp2foss
src/cli/cp2foss.1
src/cli/cp2foss.html
src/cli/cp2foss.txt
src/cli/fo_bucket_list
src/cli/fo_copyright_list
src/cli/fo_nomos_license_list
src/cli/fo_wrapper.php
src/cli/fossjobs
src/cli/fossjobs.1
src/cli/fossjobs.html
src/cli/fossjobs.txt
src/cli/schema-export
src/cli/tests/cli-Xunit.xml
src/cli/testupdate2.php
src/copyright/VERSION-*
src/copyright/agent/copyright
src/copyright/agent/ecc
src/copyright/agent/ip
src/copyright/agent_tests/Unit/test_copyright
src/decider/agent/version.php
src/delagent/agent/delagent
src/delagent/agent_tests/Functional/delagent-Xunit.xml
src/demomod/agent/demomod
src/example_wc_agent/agent/wc_agent
src/lib/c/fossconfigTest
src/lib/c/libdb.patch
src/lib/c/reppath
src/lib/c/sqlCopyTest
src/lib/c/tests/lib-c-Listing.xml
src/lib/c/tests/lib-c-Results.xml
src/lib/c/tests/testlibs
src/lib/php/bootstrap.php
src/lib/php/id.patch
src/lib/php/tests/lib-php-Xunit-Results.xml
src/maintagent/agent/maintagent
src/mimetype/agent/mimetype
src/mimetype/agent_tests/Functional/mimetype-Xunit.xml
src/mimetype/agent_tests/Unit/test_mimetype
src/mimetype/mimetype
src/monk/agent/_squareVisitor.h.gen
src/monk/agent/monk
src/monk/agent/monk_cov
src/monk/agent/squareBuilder
src/monk/agent_tests/Functional/monk
src/monk/agent_tests/Unit/test_monk
src/monk/agent_tests/results/
src/ninka/agent/ninka
src/ninka/agent/ninka_cov
src/ninka/agent_tests/Functional/ninka
src/ninka/agent_tests/Unit/test_ninka
src/ninka/agent_tests/results/
src/nomos/agent/_STRFILTER
src/nomos/agent/_autodefs.h
src/nomos/agent/_strings.data
src/nomos/agent/checkstr.OK
src/nomos/agent/encode
src/nomos/agent/nomos
src/nomos/agent/nomos_drdebug
src/nomos/agent/nomos_proctrace
src/nomos/agent/nomossa
src/nomos/agent/split.OTHER
src/nomos/agent/strings.HISTOGRAM
src/nomos/agent/words.HISTOGRAM
src/nomos/agent_nosig/
src/nomos/agent_tests/Functional/fossology.rc
src/nomos/agent_tests/Functional/nomos-Xunit.xml
src/nomos/agent_tests/Functional/nomos-regression-test.html
src/nomos/agent_tests/Functional/report.d
src/nomos/agent_tests/Unit/test_nomos
src/pkgagent/agent/pkgagent
src/regexscan/agent/regexscan
src/scheduler/agent/defconf/init.d/fossology
src/scheduler/agent/fo_cli
src/scheduler/agent/fo_scheduler
src/ununpack/agent/departition
src/ununpack/agent/ununpack
src/ununpack/agent_tests/Unit/run_tests
src/wget_agent/agent/wget_agent
src/wget_agent/agent_tests/Unit/test_wget_agent
src/www/ui/template/*.htm
utils/freshmeat/FMDir
utils/freshmeat/fm-paths.php
