# SPDX-FileCopyrightText: © Fossology contributors

# SPDX-License-Identifier: FSFAP
/.idea
/.phpstorm
/.vscode
/.phpstorm
*iml
_*.c
_*.h
*.o
*.a
*.gcno
*.gcda
cov.txt
*.dSYM
*Tests-Listing.xml
*Tests-Results.xml
VERSION
VERSIONSTRING
/.project
/.cproject
.settings
.*.sw?
*~
/src/vendor
.vagrant/
*.orig
.#*
tags
php.ini
.cache
.phan

# compiled or derived files
compile_commands.json
install/db/dbcreate
install/defconf/Db.conf
install/defconf/fossology.conf
install/fo-postinstall
src/adj2nest/agent/adj2nest
src/buckets/agent/buckets
src/cli/cp2foss
src/cli/cp2foss.1
src/cli/cp2foss.html
src/cli/cp2foss.txt
src/cli/fo_bucket_list
src/cli/fo_chmod
src/cli/fo_copyright_list
src/cli/fo_folder
src/cli/fo_nomos_license_list
src/cli/fo_wrapper.php
src/cli/fossjobs
src/cli/fossjobs.1
src/cli/fossjobs.html
src/cli/fossjobs.txt
src/cli/schema-export
src/cli/tests/cli-Xunit.xml
src/cli/testupdate2.php
src/cli/fo_import_licenses
src/cli/fo_usergroup
src/cli/fossupload_status
src/cli/exportLicenseRefUsingSPDX
src/clixml/agent/version.php
src/clixml/agent/clixml
src/compatibility/agent/compatibility
src/copyright/agent/ipra
src/copyright/agent/copyright
src/copyright/agent/keyword
src/copyright/agent/fo_unicode_clean
src/copyright/agent_tests/Functional/copyright
src/copyright/agent_tests/Unit/test_copyright
src/copyright/agent_tests/results
src/decider/agent/decider
src/decider/agent/version.php
src/deciderjob/agent/deciderjob
src/deciderjob/agent/version.php
src/decisionexporter/agent/decisionexporter
src/decisionexporter/agent/version.php
src/decisionimporter/agent/decisionimporter
src/decisionimporter/agent/version.php
src/delagent/agent/delagent
src/demomod/agent/demomod
src/lib/c/fossconfigTest
src/lib/c/libdb.patch
src/lib/c/reppath
src/lib/c/sqlCopyTest
src/lib/c/tests/lib-c-Listing.xml
src/lib/c/tests/lib-c-Results.xml
src/lib/c/tests/testlibs
src/lib/cpp/tests/test_libcpp
src/lib/php/tests/lib-php-Xunit-Results.xml
src/lib/php/bootstrap.php
src/lib/php/services.xml
src/lib/php/id.patch
src/maintagent/agent/maintagent
src/mimetype/mimetype
src/mimetype/agent/mimetype
src/mimetype/agent_tests/Unit/test_mimetype
src/monk/agent/_squareVisitor.h.gen
src/monk/agent/monk
src/monk/agent/monkbulk
src/monk/agent/monk_cov
src/monk/agent/monkbulk_cov
src/monk/agent/squareBuilder
src/monk/agent_tests/Unit/results/
src/monk/agent_tests/Unit/test_monk
src/monk/agent_tests/Unit/run_tests
src/monk/agent_tests/Functional/monk
src/monk/agent_tests/Functional/monkbulk
src/monk/agent_tests/Functional/monk-Xunit1.xml
src/monk/agent_tests/Functional/monk-Xunit2.xml
src/monk/agent_tests/Functional/monk-Xunit3.xml
src/nomos/agent_tests/Functional/LastGoodNomosTestfilesScan.s
src/nomos/agent_tests/Functional/scan.out
src/nomos/agent_tests/Functional/scan.out.r
src/nomos/agent_tests/Functional/scan.out.s
src/nomos/agent/_STRFILTER
src/nomos/agent/_autodefs.h
src/nomos/agent/_strings.data
src/nomos/agent/checkstr.OK
src/nomos/agent/encode
src/nomos/agent/nomos
src/nomos/agent/nomos_drdebug
src/nomos/agent/nomos_proctrace
src/nomos/agent/nomossa
src/nomos/agent/split.OTHER
src/nomos/agent/strings.HISTOGRAM
src/nomos/agent/words.HISTOGRAM
src/nomos/agent_nosig/
src/nomos/agent_tests/Functional/fossology.rc
src/nomos/agent_tests/Functional/nomos-Xunit.xml
src/nomos/agent_tests/Functional/nomos-regression-test.html
src/nomos/agent_tests/Functional/report.d
src/nomos/agent_tests/Unit/test_nomos
src/ojo/agent/ojo
src/ojo/agent_tests/Functional/ojo
src/ojo/agent_tests/Unit/test_ojo
src/scancode/agent/scancode
src/pkgagent/agent/pkgagent
src/scheduler/agent/defconf/init.d/fossology
src/scheduler/agent/fo_cli
src/scheduler/agent/fo_scheduler
src/scheduler/agent_tests/Unit/test_scheduler
src/scheduler/agent_tests/agents/Db.conf
src/scheduler/agent_tests/agents/fossology.conf
src/scheduler/agent_tests/agents/fossology.log
src/scheduler/agent_tests/agents/mods-enabled/
src/scheduler/agent_tests/agents/variables.list
src/spasht/agent/spasht
src/spasht/agent/version.php
src/ununpack/agent/departition
src/ununpack/agent/ununpack
src/ununpack/agent/departition-sa
src/ununpack/agent/ununpack-sa
src/ununpack/agent_tests/Unit/testconf
src/wget_agent/agent/wget_agent
src/wget_agent/agent_tests/test_result
variable.list
/nbproject/private/
/src/monk/VERSION-monk
/src/monk/VERSION-monkbulk
/src/monk/agent/monkbulk
/src/deciderjob/agent/deciderjob
/src/deciderjob/agent/version.php
/src/decider/agent/decider
/src/decider/agent/version.php
/src/decisionexporter/agent/version.php
/src/decisionexporter/agent/decisionexporter
/testReport/
/src/readmeoss/agent/version.php
/src/reuser/agent/reuser
/src/reuser/agent/version.php
/src/copyright/agent/ecc
/src/copyright/VERSION-ecc
/src/copyright/VERSION-keyword
/src/copyright/VERSION-copyright
/src/copyright/VERSION-ipra
/src/spdx2/agent_tests/Functional/tools-java-*-jar-with-dependencies.jar
/src/spdx2/agent/version.php
/src/unifiedreport/agent/unifiedreport
/src/unifiedreport/agent/version.php
/src/spdx2/agent/spdx2
src/reportImport/agent/spdx2Import
src/reportImport/agent/version.php
src/reportImport/agent/reportImport
/src/ninka/agent_tests/Functional/ninka
/src/ninka/agent_tests/Unit/test_ninka
/src/ninka/agent/ninka
/src/cli/fo_monk_license_list
/src/cli/fo_ninka_license_list
/install/scripts/php.ini
/install/scripts/php.ini.orig
/install/db/dbmigrate_pfile_calculate_sha256.php
/install/db/dbmigrate_change_db_encoding.php
/src/softwareHeritage/agent/version.php
/src/softwareHeritage/agent/softwareHeritage
/src/softwareHeritage/VERSION
src/delagent/agent_tests/Unit/test_delagent
src/delagent/agent_tests/Unit/testconf/
/utils/fo_unicode_clean
install/db/db.cron
install/fossdash/fossdash-publish.py
src/reso/agent/version.php
src/reso/agent/reso
src/www/ui/css/bootstrap/
src/www/ui/scripts/bootstrap/

# Add all the Ubuntu consol log file
ubuntu-*

# PHPUnit cache
.phpunit.result.cache
*-Xunit.xml
/phpenv/
# cmake ignore files
**/build
**/build-clang
cmake-build-release
cmake-build-debug

#pycache
**/__pycache__/