# Copyright Siemens AG, 2014-2018
# SPDX-License-Identifier:	GPL-2.0 LGPL-2.1

# build FOSSology on Travis CI - https://travis-ci.org/

language: php
dist: trusty
php: 7.0

addons:
  apt:
    packages: &default_packages
      - cabextract
      - genisoimage
      - libboost-program-options-dev
      - libboost-regex-dev
      - libcppunit-dev
      - libcunit1-dev
      - libdbd-sqlite3-perl
      - liblocal-lib-perl
      - libmagic-dev
      - librpm-dev
      - libspreadsheet-writeexcel-perl
      - libtext-template-perl
      - php5-cli
      - php5-pgsql
      - poppler-utils
      - p7zip
      - p7zip-full
      - rpm
      - sleuthkit
      - unrar-free
      - upx-ucl

services: postgresql

sudo: required

before_script: ./utils/prepare-test -afty

matrix:
  include:
    - name: Syntax Check
      script: src/testing/syntax/syntaxtest.sh
    - name: Static Code Analysis
      script: cppcheck -q -isrc/nomos/agent_tests/testdata/NomosTestfiles/ -isrc/testing/dataFiles/ --suppress=*:src/copyright/agent/json.hpp src/
    - name: Copy/Paste Detector
      script: src/vendor/bin/phpcpd src/cli/ src/copyright/ src/decider*/ src/lib/ src/monk/ src/nomos/ src/readmeoss/ src/spdx2/ src/www/
#### Docker tests ###########################
    - name: Docker Tests
      addons: {}
      services: docker
      before_script: docker-compose build
      script:
        - src/testing/docker/test-cluster.sh
        - src/testing/docker/test-standalone.sh
#### C/C++ agent tests ###########################
    - &compiler-tests
      env: CC=gcc-4.8 CXX=g++-4.8 CFLAGS='-Wall'
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - *default_packages
            - gcc-4.8
            - g++-4.8
      install:
        - composer install --prefer-dist --working-dir=src
        - ./install/scripts/install-spdx-tools.sh
      script:
        - make
        - make test
    - <<: *compiler-tests
      env: CC=gcc-5 CXX=g++-5 CFLAGS='-Wall'
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - *default_packages
            - gcc-5
            - g++-5
    - <<: *compiler-tests
      env: CC=gcc-6 CXX=g++-6 CFLAGS='-Wall'
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - *default_packages
            - gcc-6
            - g++-6
    - <<: *compiler-tests
      env: CC=clang-3.6 CXX=clang++-3.6 CFLAGS='-Wall -Werror -Wno-error=deprecated-register'
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty
          packages:
            - *default_packages
            - clang-3.6
#### PHPUnit tests ###########################
    - &phpunit-tests
      php: 5.6
      install: composer install --prefer-dist --working-dir=src
      script:
        - make build-lib VERSIONFILE build-cli
        - src/vendor/bin/phpunit -csrc/phpunit.xml --testsuite="Fossology PhpUnit Test Suite"
      after_success: php src/vendor/bin/coveralls -vv -x clover.xml
    - <<: *phpunit-tests
      php: 7.0
    - <<: *phpunit-tests
      php: 7.1
    - <<: *phpunit-tests
      php: 7.2
  allow_failures:
    - name: Copy/Paste Detector
      script: src/vendor/bin/phpcpd src/cli/ src/copyright/ src/decider*/ src/lib/ src/monk/ src/nomos/ src/readmeoss/ src/spdx2/ src/www/
    - php: 7.1
    - php: 7.2
