{% extends "include/base.html.twig" %}

{% block content %}
  <li>
    ({{ 'Spasht'|trans }}) <br>
    <input type="text" id="searchBox"/>
  </li>
{% endblock %}


{% block foot %}
  {{ parent() }}

{% endblock %}
