<form id="searchForm" method="post" action="">
  <input type="hidden" name="formName" value="SearchForm" />
  Search: <input type="text" name="patternName" id="searchBox" value={{ uploadName }} size="30"/>
  <input type="submit" value="submit"/> <br><br>
  Advance Search: <input type="checkbox" name="advanceSearch" value="advanceSearch" onchange="document.getElementById('searchForm').submit()" {{ advanceSearch }}>
</form>