{# Copyright 2019
   Author: Vivek Kumar<vvksindia@gmail.com>
   
   Copying and distribution of this file, with or without modification,
   are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
   This file is offered as-is, without any warranty.
#}

<form id="searchForm" method="post" action="">
  <input type="hidden" name="formName" value="SearchForm" />
  Search: <input type="text" name="patternName" id="searchBox" value={{ uploadName }} size="30"/>
  <input type="submit" value="submit"/> <br><br>
  Advance Search: <input type="checkbox" name="advanceSearch" value="advanceSearch" onchange="document.getElementById('searchForm').submit()" {{ advanceSearch }}>
  <input id="uploadAvailable" type="hidden" name="uploadAvailable" value={{ uploadAvailable }} />
</form>