{# Copyright 2019
   Author: Vivek Kumar<vvksindia@gmail.com>
   
   Copying and distribution of this file, with or without modification,
   are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
   This file is offered as-is, without any warranty.
#}

<div class="row" id="spashtStart">
  <div class="col" ></div>
  <div class="col-md-4" id="searchBoxCover">
    {% include 'agent_spasht_search.html.twig' %}
  </div>
  <div class="col">
  </div>
</div>
<div class="row" id="spashtStart">
  <div class="col">
    {% if advanceSearch == "checked" %}
      {% include 'agent_spasht_advanceSearch_form.html.twig' %}
    {% elseif pageNo == "show_definitions" %}
      {% include 'show_definitions.html.twig' %}
    {% elseif pageNo == "data_stored_successfully" %}
      Data Stored Successfully {{ pageNo }} -> {{ result }}
    {% elseif pageNo == "show_upload_table" %}
      {% include 'show_uploads_table.html.twig' %}
    {% else %}
      Empty
    {% endif %}
  </div>
  <div class="col">
  {% include 'show_details_table.html.twig' %}
  </div>
</div>