{% import "include/macros.html.twig" as macro %}

<li>
  {{ 'Automatic Concluded License Decider, based on scanners Matches'|trans }}<br/>
  <input type="checkbox" name="deciderRules[]" value="nomosInMonk" /> {{ '... if all Nomos findings are within the Monk findings'|trans }}<br />
  <input type="checkbox" name="deciderRules[]" value="nomosMonkNinka" /> {{ '... if Nomos, Monk and Ninka find the same license'|trans }}
</li>