{% import "include/macros.html.twig" as macro %}

<li>
  {{ 'Automatic Concluded License Decider, based on scanners Matches'|trans }}<br/>
  <input type="checkbox" name="deciderRules[]" value="nomosInMonk" /> {{ '... if all Nomos findings are within the Monk findings'|trans }}
</li>