/*
 SPDX-FileCopyrightText: © 2015 Siemens AG

 SPDX-License-Identifier: GPL-2.0-only
*/

.hi-keyword {
  font-weight: bold;
  background-color: #BEA7A7;
}

.hi-undefined {
  background-color: lightgray;
}
.hi-match .hi-keyword {
  background-color: gray;
}


.hi-match {
  background-color: lightgreen;
}
.hi-match .hi-keyword {
  background-color: green;
}

.hi-changed {
  background-color: yellow;
}
.hi-changed .hi-keyword {
  background-color: #999900;
}

.hi-added {
  background-color: red;
}
.hi-added .hi-keyword {
  background-color: #770000;
}

.hi-deleted {
  background-color: fuchsia
}
.hi-deleted .hi-keyword {
  background-color: #aa1155;
}

.hi-signature {
  background-color: lightskyblue;
}
.hi-signature .hi-keyword {
  background-color: #0099CC;
}

.hi-bulk {
  background-color: #EFBE76;
}

.hi-cp {
  background-color: lightblue;
}

.hi-email {
  background-color: yellow;
}

.hi-url {
  background-color: orange;
}

.hi-author {
  background-color: greenyellow;
}

.hi-ip {
  background-color: #FF7F50;
}

.hi-mediumorchid {
  background-color: #BA55D3;
}
