/*
 SPDX-FileCopyrightText: © 2015, 2019 Siemens AG

 SPDX-License-Identifier: GPL-2.0-only
*/

.jobQueued
{
 font: normal 8pt verdana, arial, helvetica;
 background: #FFFFCC;
 color:black; 
}

.jobFailed
{
 font: normal 8pt verdana, arial, helvetica;
 background: #FF6666;
 color:black; 
}

.jobScheduled
{
 font: normal 8pt verdana, arial, helvetica;
 background: #99FFFF;
 color:black;
}

.jobFinished
{
 font: normal 8pt verdana, arial, helvetica;
 background: #66FF99;
 color:black;
}

.jobAction
{
  font: normal 8pt verdana, arial, helvetica;
  background: lavender;
  color: black;
}

.jobTable {
  width: 100%;
}

.jobTable thead th {
  font: bold 10pt verdana, arial, helvetica;
  background: gold;
  color: white;
}

.jobTableNewJob td {
  text-align: center;
  font: bold 8pt verdana, arial, helvetica;
  background: lavender;
  color: black;
}

.jobTable tbody tr {
  width: 100%;
}

.jobTable tbody td {
  width: 10%;
}

.jobTable tbody tr:not(.jobTableNewJob) :nth-child(2) {
  text-align: center;
}

.jobTable tbody tr:not(.jobTableNewJob) :nth-child(4) {
  text-align: right;
}

.jobTable tbody tr:not(.jobTableNewJob) :nth-child(5) {
  width: 30%;
}

.jobTable tbody tr:not(.jobTableNewJob) :nth-child(6) {
  text-align: right;
}

.jobTable tbody tr:not(.jobTableNewJob) :nth-child(7) {
  text-align: center;
}
