#searchBoxCover {
    font-weight: bold;
    font-size: 16px;
}

#spashtStart {
    padding-top: 15px;
}

#detailsTable {
    border: 1px solid black;
    border-collapse: collapse;
    display: none;
}
