<!DOCTYPE html>
<html>
<head lang="en">
    {% block head %}
    {% include "include/head.html" %}
    <title>{% block title %}{{ title|e }}{% endblock %}</title>
    {{ metadata }}
    {{ styles }}
    {% endblock %}
</head>
<body>
{% block menu %}
{{ menu }}
{% endblock %}

{% block message %}
{% if message %}
 <div id="dmessage2" style="border-bottom: 1px dashed gray;">
  <button name='eraseme' value='close' onclick='rmMsg()'><i18n>Close</i18n></button>
  {{ message }}
 </div>
 <script type='text/javascript'>
  function rmMsg(){
   var div = document.getElementById("dmessage")
   var parent = div.parentNode;
   parent.removeChild(div);
  }
 </script>
{% endif %}
{% endblock %}


{% block content %}
{{ content }}
{% endblock %}

{% block foot %}
{% include "include/foot.html" %}
{% endblock %}
</body>
</html>