<div id="footer" style="position: fixed; right:5px; bottom:5px; font-size: 8px;">
{%if VERSION %}
{# VERSION contains all the variables defined at build time in the [BUILD] section of /VERSION #}
<span>{{ VERSION.VERSION }}, commit: [#{{ VERSION.COMMIT_HASH }}] {{ VERSION.COMMIT_DATE }}</span>
{% endif %}
</div>
<script src="scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
{{ scripts }}
