# SPDX-FileCopyrightText: © 2023 Siemens AG
# SPDX-FileContributor: Gaurav Mishra <mishra.gaurav@siemens.com>

# SPDX-License-Identifier: FSFAP
# Description: Dependencies used by the CI scanner script
spdx-tools==0.8.3
requests==2.32.4
packageurl-python==0.17.3
