Source: fossology
Section: utils
Priority: optional
Maintainer: Michael Jaeger <michael.c.jaeger@siemens.com>
Build-Depends: debhelper (>=9~), libglib2.0-dev, libmagic-dev, libxml2-dev,
 libmxml-dev, libtext-template-perl, librpm-dev, subversion, rpm, libpcre3-dev,
 libssl-dev, postgresql-server-dev-all, libboost-regex-dev, libicu-dev,
 libboost-program-options-dev, libjsoncpp-dev, libjson-c-dev, libpq-dev,
 php7.2-cli|php7.3-cli|php7.4-cli|php8.1-cli|php8.3-cli|php8.4-cli, php-mbstring, php-zip, php-curl,
 php-gd, php-pgsql, php-uuid, php-xml, libboost-system-dev, libzstd-dev,
 libboost-filesystem-dev, libgcrypt20-dev, composer
Standards-Version: 3.9.1
Homepage: https://fossology.org

Package: fossology-dev
Architecture: any
Depends: php7.2-cli|php7.3-cli|php7.4-cli|php8.1-cli|php8.3-cli|php8.4-cli, ${misc:Depends}
Description: architecture for analyzing software, development utils
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains software to ease development behind a firewall.

Package: fossology
Architecture: any
Depends: fossology-web, fossology-scheduler, fossology-ununpack,
 fossology-copyright, fossology-buckets, fossology-mimetype,
 fossology-delagent, fossology-wgetagent, ${misc:Depends}
Recommends: fossology-monk, fossology-monkbulk, fossology-decider,
 fossology-readmeoss, fossology-spdx2, fossology-reportimport,
 fossology-softwareheritage, fossology-reuser, fossology-ninka,
 fossology-decisionexporter, fossology-decisionimporter
Conflicts: fossology-db (<= 1.4.1), fossology-common (<= 1.4.1)
Description: open and modular architecture for analyzing software
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This metapackage ensures that the fossology component packages needed
 for a single-system install are installed in the right order. For a
 multi-system install, consult the README.Debian file included in the
 fossology-common package.

Package: fossology-common
Architecture: any
Depends: php7.2-pgsql|php7.3-pgsql|php7.4-pgsql|php8.1-pgsql|php8.3-pgsql|php8.4-pgsql, php-pear,
 php7.2-cli|php7.3-cli|php7.4-cli|php8.1-cli|php8.3-cli|php8.4-cli, php-mbstring, php-zip, php-xml,
 php7.2-gd|php7.3-gd|php7.4-gd|php8.1-gd|php8.3-gd|php8.4-gd, php-uuid,
 php7.2-json|php7.3-json|php7.4-json|php-json,
 php7.2-curl|php7.3-curl|php7.4-curl|php8.1-curl|php8.3-curl|php8.4-curl,
 ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, common files
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the resources needed by all of the other
 fossology components. This includes admin tools for maintenance.

Package: fossology-web
Architecture: any
Depends: fossology-common, apache2, php7.2-gd|php7.3-gd|php7.4-gd|php8.1-gd|php8.3-gd|php8.4-gd,
 libapache2-mod-php7.2|libapache2-mod-php7.3|libapache2-mod-php7.4|libapache2-mod-php8.1|libapache2-mod-php8.3|libapache2-mod-php8.4,
 ${misc:Depends}
Recommends: fossology-db
Description: architecture for analyzing software, web interface
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package depends on the packages for the web interface.

Package: fossology-scheduler
Architecture: any
Depends: fossology-common, s-nail, ${shlibs:Depends},
 ${misc:Depends}
Conflicts: fossology-scheduler-single
Description: architecture for analyzing software, scheduler
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the scheduler daemon.

Package: fossology-db
Architecture: any
Depends: postgresql, ${misc:Depends}
Description: architecture for analyzing software, database
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the database resources and will create a
 fossology database on the system (and requires that postgresql is
 running at install time). If you prefer to use a remote database,
 or want to create the database yourself, do not install this package
 and consult the README.Debian file included in the fossology-common
 package.

Package: fossology-ununpack
Architecture: any
Depends: fossology-common, binutils, bzip2, cabextract, cpio, sleuthkit,
 genisoimage, poppler-utils, rpm, unrar-free, unzip, p7zip-full, p7zip,
 ${shlibs:Depends}, ${misc:Depends}
Conflicts: fossology-agents-single
Description: architecture for analyzing software, ununpack and adj2nest
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the ununpack and adj2nest agent programs and their
 resources.

Package: fossology-copyright
Architecture: any
Depends: fossology-common, libpcre3|pcre2-utils, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, copyright
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the copyright agent programs and their resources.

Package: fossology-buckets
Architecture: any
Depends: fossology-nomos, fossology-pkgagent, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, buckets
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the buckets agent programs and their resources.

Package: fossology-mimetype
Architecture: any
Depends: fossology-common, libmagic1, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, mimetype
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the mimetype agent programs and their resources.

Package: fossology-nomos
Architecture: any
Depends: fossology-common, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, nomos
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the nomos agent programs and their resources.

Package: fossology-pkgagent
Architecture: any
Depends: fossology-common, rpm, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, pkgagent
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the pkgagent agent programs and their resources.

Package: fossology-delagent
Architecture: any
Depends: fossology-common, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, delagent
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the delagent agent programs and their resources.

Package: fossology-wgetagent
Architecture: any
Depends: fossology-common, wget, subversion, git, ${shlibs:Depends},
 ${misc:Depends}
Replaces: fossology-wgetagent (<= 2.2.0)
Description: architecture for analyzing software, wget_agent
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the wget agent programs and their resources.

Package: fossology-debug
Architecture: any
Depends: fossology-common, ${misc:Depends}
Description: architecture for analyzing software, debug UI
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the debug UI.

Package: fossology-monk
Architecture: any
Depends: fossology-common, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, monk
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the monk agent programs and their resources.

Package: fossology-monkbulk
Architecture: any
Depends: fossology-common, fossology-deciderjob, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, monk bulk scanning
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the monk bulk agent programs and their resources.

Package: fossology-ojo
Architecture: any
Depends: fossology-common, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, ojo
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the ojo agent programs and their resources.

Package: fossology-reso
Architecture: any
Depends: fossology-common, ${shlibs:Depends}, ${misc:Depends}
Description: architecture for analyzing software, reso
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the reso agent programs and their resources.

Package: fossology-decider
Architecture: any
Depends: fossology-common, fossology-deciderjob, ${misc:Depends}
Description: architecture for analyzing software, decider
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the decider agent programs and their resources.

Package: fossology-deciderjob
Architecture: any
Depends: fossology-common, ${misc:Depends}
Description: architecture for analyzing software, deciderjob
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the deciderjob agent programs and their resources.

Package: fossology-readmeoss
Architecture: any
Depends: fossology-common, fossology-copyright, ${misc:Depends}
Description: architecture for analyzing software, OSS readme generator
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the readmeoss agent programs and their resources.

Package: fossology-clixml
Architecture: any
Depends: fossology-common, php-uuid, ${misc:Depends}
Description: architecture for analyzing software, XML based report generator
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the clixml agent programs and their resources.

Package: fossology-unifiedreport
Architecture: any
Depends: fossology-common, php-zip, php-xml, ${misc:Depends}
Description: architecture for analyzing software, Microsoft Word report generator
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the unifiedreport agent programs and their resources.

Package: fossology-reuser
Architecture: any
Depends: fossology-common, ${misc:Depends}
Description: architecture for reusing clearing result of other uploads, reuser
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the reuser agent programs and their resources.

Package: fossology-spdx2
Architecture: any
Depends: fossology-common, ${misc:Depends}
Description: architecture for analyzing software, SPDX v2.0 generator
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the spdx2 agent programs and their resources.

Package: fossology-reportimport
Architecture: any
Depends: fossology-common, php-mbstring, ${misc:Depends}
Description: architecture for analyzing software, report importer
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the reportImport agent programs and their resources.

Package: fossology-softwareheritage
Architecture: any
Depends: fossology-common, fossology-ununpack, fossology-wgetagent,
 ${misc:Depends}
Description: architecture for fetching the origin of a file software heritage archive.
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the softwareHeritage agent programs and their resources.

Package: fossology-scancode
Architecture: any
Depends: fossology-common, fossology-ununpack, fossology-wgetagent,
 ${misc:Depends}
Description: architecture to fetch license, copyright information from scancode.
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the scancode agent programs and their resources.

Package: fossology-spasht
Architecture: any
Depends: fossology-common, ${shlibs:Depends}, ${misc:Depends}
Description: architecture to connect clearlyDefined, spasht
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the spasht agent programs and their resources.

Package: fossology-decisionexporter
Architecture: any
Depends:  fossology-common, ${misc:Depends}
Description: architecture for analyzing software, decisionexporter
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the decisionexporter agent programs and their resources.

Package: fossology-decisionimporter
Architecture: any
Depends:  fossology-common, ${misc:Depends}
Description: architecture for analyzing software, decisionimporter
 The FOSSology project is a web based framework that allows you to
 upload software to be picked apart and then analyzed by software agents
 which produce results that are then browsable via the web interface.
 Existing agents include license analysis, metadata extraction, and MIME
 type identification.
 .
 This package contains the decisionimporter agent program and its resources.
