#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# debhelper is licensed under GPL-2.0, more info at:
# http://joeyh.name/code/debhelper/
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
export HOME := $(CURDIR)

COMPOSER_PHAR := $(shell which composer)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


#Architecture
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp: configure-stamp

	# Add here commands to compile the arch part of the package.
	@dpkg-parsechangelog | sed -n -e 's/^Version: //p' > VERSIONSTRING
	$(MAKE) PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var
	$(MAKE) PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var -C src/nomos/agent/ -f Makefile.sa
	touch $@

build-indep: build-indep-stamp
build-indep-stamp: configure-stamp

	@# this currently doesn't do anything, but in case it does someday
	$(MAKE) PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var install/db/
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp

	$(MAKE) clean

	dh_clean

install: install-indep install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i
	dh_installdirs -i

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-db \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C install/db install

	dh_install -i

install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs -s

ifeq ($(COMPOSER_PHAR),)
	mkdir -p $(CURDIR)/composer/
	utils/install_composer.sh $(CURDIR)/composer/
	$(eval COMPOSER_PHAR=$(CURDIR)/composer/composer)
endif

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-common \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var install-install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-common \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/lib install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-common \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/cli install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-common \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/maintagent install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-common \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           COMPOSER_PHAR=$(COMPOSER_PHAR) \
           -C src composer_install
	mkdir -p $(CURDIR)/debian/fossology-common/usr/share/fossology/setup
	cp $(CURDIR)/install/scripts/* $(CURDIR)/debian/fossology-common/usr/share/fossology/setup

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-web \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/www install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-wgetagent \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/wget_agent install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-scheduler \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/scheduler install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-ununpack \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/ununpack install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-ununpack \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/adj2nest install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-copyright \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/copyright install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-buckets \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/buckets install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-mimetype \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/mimetype install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-nomos \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/nomos install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-nomos \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/nomos/agent/ -f Makefile.sa install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-pkgagent \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/pkgagent install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-delagent \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/delagent install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-debug \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/debug install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-monk \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/monk install-monk

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-monkbulk \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/monk install-monkbulk

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-ojo \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/ojo install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-decider \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/decider install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-deciderjob \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/deciderjob install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-readmeoss \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/readmeoss install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-unifiedreport \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/unifiedreport install
	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-reuser \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/reuser install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-spdx2 \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/spdx2 install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-reportimport \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/reportImport install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-softwareheritage \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/softwareHeritage install

	$(MAKE) DESTDIR=$(CURDIR)/debian/fossology-spasht \
           PREFIX=/usr SYSCONFDIR=/etc/fossology LOCALSTATEDIR=/var \
           -C src/spasht install

	mkdir -p $(CURDIR)/debian/fossology-dev/usr/bin
	cp $(COMPOSER_PHAR) $(CURDIR)/debian/fossology-dev/usr/bin
	mkdir -p $(CURDIR)/debian/fossology-dev/usr/share/fossology/
	tar czf $(CURDIR)/debian/fossology-dev/usr/share/fossology/php-vendor.tar.gz -C $(CURDIR)/debian/fossology-common/usr/share/fossology vendor

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/wget_agent
	cp -r $(CURDIR)/debian/fossology-wgetagent/usr/share/fossology/wget_agent/ $(CURDIR)/debian/fossology-web/usr/share/fossology/
	ln -s /usr/share/fossology/wget_agent $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/wget_agent

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/ununpack
	cp -r $(CURDIR)/debian/fossology-ununpack/usr/share/fossology/ununpack/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/ununpack/ui
	ln -s /usr/share/fossology/ununpack $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/ununpack

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/adj2nest
	cp -r $(CURDIR)/debian/fossology-ununpack/usr/share/fossology/adj2nest/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/adj2nest/ui
	ln -s /usr/share/fossology/adj2nest $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/adj2nest

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/copyright
	cp -r $(CURDIR)/debian/fossology-copyright/usr/share/fossology/copyright/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/copyright/ui
	ln -s /usr/share/fossology/copyright $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/copyright

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/ecc
	cp -r $(CURDIR)/debian/fossology-copyright/usr/share/fossology/ecc/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/ecc/ui
	ln -s /usr/share/fossology/ecc $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/ecc

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/keyword
	cp -r $(CURDIR)/debian/fossology-copyright/usr/share/fossology/keyword/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/keyword/ui
	ln -s /usr/share/fossology/keyword $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/keyword

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/buckets
	cp -r $(CURDIR)/debian/fossology-buckets/usr/share/fossology/buckets/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/buckets/ui
	ln -s /usr/share/fossology/buckets $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/buckets

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/mimetype
	cp -r $(CURDIR)/debian/fossology-mimetype/usr/share/fossology/mimetype/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/mimetype/ui
	ln -s /usr/share/fossology/mimetype $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/mimetype

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/nomos
	cp -r $(CURDIR)/debian/fossology-nomos/usr/share/fossology/nomos/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/nomos/ui
	ln -s /usr/share/fossology/nomos $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/nomos

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/pkgagent
	cp -r $(CURDIR)/debian/fossology-pkgagent/usr/share/fossology/pkgagent/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/pkgagent/ui
	ln -s /usr/share/fossology/pkgagent $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/pkgagent

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/delagent
	cp -r $(CURDIR)/debian/fossology-delagent/usr/share/fossology/delagent/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/delagent/ui
	ln -s /usr/share/fossology/delagent $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/delagent

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/monk
	cp -r $(CURDIR)/debian/fossology-monk/usr/share/fossology/monk/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/monk/ui
	ln -s /usr/share/fossology/monk $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/monk

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/monkbulk
	cp -r $(CURDIR)/debian/fossology-monkbulk/usr/share/fossology/monkbulk/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/monkbulk/ui
	ln -s /usr/share/fossology/monkbulk $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/monkbulk

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/ojo
	cp -r $(CURDIR)/debian/fossology-ojo/usr/share/fossology/ojo/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/ojo/ui
	ln -s /usr/share/fossology/ojo $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/ojo

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/decider
	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/decider/agent
	cp -r $(CURDIR)/debian/fossology-decider/usr/share/fossology/decider/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/decider/ui
	cp -r $(CURDIR)/debian/fossology-decider/usr/share/fossology/decider/agent/version.php $(CURDIR)/debian/fossology-web/usr/share/fossology/decider/agent/version.php 
	ln -s /usr/share/fossology/decider $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/decider

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/deciderjob
	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/deciderjob/agent
	cp -r $(CURDIR)/debian/fossology-deciderjob/usr/share/fossology/deciderjob/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/deciderjob/ui
	cp -r $(CURDIR)/debian/fossology-deciderjob/usr/share/fossology/deciderjob/agent/version.php $(CURDIR)/debian/fossology-web/usr/share/fossology/deciderjob/agent/version.php
	ln -s /usr/share/fossology/deciderjob $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/deciderjob

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/readmeoss
	cp -r $(CURDIR)/debian/fossology-readmeoss/usr/share/fossology/readmeoss/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/readmeoss/ui
	ln -s /usr/share/fossology/readmeoss $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/readmeoss

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/unifiedreport
	cp -r $(CURDIR)/debian/fossology-unifiedreport/usr/share/fossology/unifiedreport/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/unifiedreport/ui
	ln -s /usr/share/fossology/unifiedreport $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/unifiedreport

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/reuser
	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/reuser/agent
	cp -r $(CURDIR)/debian/fossology-reuser/usr/share/fossology/reuser/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/reuser/ui
	cp -r $(CURDIR)/debian/fossology-reuser/usr/share/fossology/reuser/agent/version.php $(CURDIR)/debian/fossology-web/usr/share/fossology/reuser/agent/version.php
	ln -s /usr/share/fossology/reuser $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/reuser

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/spdx2
	cp -r $(CURDIR)/debian/fossology-spdx2/usr/share/fossology/spdx2/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/spdx2/ui
	ln -s /usr/share/fossology/spdx2 $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/spdx2

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/reportImport
	cp -r $(CURDIR)/debian/fossology-reportimport/usr/share/fossology/reportImport/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/reportImport/ui
	ln -s /usr/share/fossology/reportImport $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/reportImport

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/softwareHeritage
	cp -r $(CURDIR)/debian/fossology-softwareheritage/usr/share/fossology/softwareHeritage/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/softwareHeritage/ui
	ln -s /usr/share/fossology/softwareHeritage $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/softwareHeritage

	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/spasht
	mkdir -p $(CURDIR)/debian/fossology-web/usr/share/fossology/spasht/agent
	cp -r $(CURDIR)/debian/fossology-spasht/usr/share/fossology/spasht/ui $(CURDIR)/debian/fossology-web/usr/share/fossology/spasht/ui
	cp -r $(CURDIR)/debian/fossology-spasht/usr/share/fossology/spasht/agent/version.php $(CURDIR)/debian/fossology-web/usr/share/fossology/spasht/agent/version.php	
	ln -s /usr/share/fossology/spasht $(CURDIR)/debian/fossology-web/etc/fossology/mods-enabled/spasht

	dh_install -a
# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs -A -Nfossology-common debian/README.Debian
	dh_installdocs -pfossology-common
	dh_installexamples
#	dh_installdebconf
	dh_installlogrotate
#	dh_installmime
	DH_OPTIONS= dh_installinit -o -pfossology --name=fossology
#	dh_installcron -pfossology-db
	dh_installman

# Do the lintian stuff by hand for now so we can depend on older debhelper to
# make backports easier, switch when etch support dropped
#	dh_lintian
	mkdir -p debian/fossology-common/usr/share/lintian/overrides
	cp debian/fossology-common.lintian-overrides debian/fossology-common/usr/share/lintian/overrides/fossology-common
	#mkdir -p debian/fossology-agents/usr/share/lintian/overrides
	#cp debian/fossology-agents.lintian-overrides debian/fossology-agents/usr/share/lintian/overrides/fossology-agents
	#mkdir -p debian/fossology-agents-single/usr/share/lintian/overrides
	#cp debian/fossology-agents-single.lintian-overrides debian/fossology-agents-single/usr/share/lintian/overrides/fossology-agents-single

	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure
