#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# debhelper is licensed under GPL-2.0, more info at:
# http://joeyh.name/code/debhelper/
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
export HOME := $(CURDIR)

COMPOSER_PHAR := $(shell which composer)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


#Architecture
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp: configure-stamp

	# Add here commands to compile the arch part of the package.
	@dpkg-parsechangelog | sed -n -e 's/^Version: //p' > VERSIONSTRING
	mkdir -p build
	cd build && cmake ..
	$(MAKE) -C build
	touch $@

build-indep: build-indep-stamp
build-indep-stamp: configure-stamp

	@# this currently doesn't do anything, but in case it does someday
	true
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp configure-stamp

	rm -rf build
	find . -name "*.o" -delete
	find . -name "*.a" -delete

	dh_clean

install: install-indep install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i
	dh_installdirs -i

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-db

	dh_install -i

install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs -s

ifeq ($(COMPOSER_PHAR),)
	mkdir -p $(CURDIR)/composer/
	utils/install_composer.sh $(CURDIR)/composer/
	$(eval COMPOSER_PHAR=$(CURDIR)/composer/composer)
endif

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-common
	mkdir -p $(CURDIR)/debian/fossology-common/usr/share/fossology/setup
	cp $(CURDIR)/install/scripts/* $(CURDIR)/debian/fossology-common/usr/share/fossology/setup

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-web

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-wgetagent

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-scheduler

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-ununpack

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-copyright
	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-buckets
	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-mimetype
	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-nomos
	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-pkgagent
	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-delagent

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-debug

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-monk

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-monkbulk

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-ojo

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-reso

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-decider
	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-deciderjob

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-readmeoss

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-clixml

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-unifiedreport

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-reuser

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-spdx2

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-reportimport

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-softwareheritage

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-scancode

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-spasht

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-decisionexporter

	$(MAKE) -C build install DESTDIR=$(CURDIR)/debian/fossology-decisionimporter


	mkdir -p $(CURDIR)/debian/fossology-dev/usr/bin
	cp $(COMPOSER_PHAR) $(CURDIR)/debian/fossology-dev/usr/bin
	mkdir -p $(CURDIR)/debian/fossology-dev/usr/share/fossology/
	if [ -d $(CURDIR)/debian/fossology-common/usr/share/fossology/vendor ]; then \
	tar czf $(CURDIR)/debian/fossology-dev/usr/share/fossology/php-vendor.tar.gz -C $(CURDIR)/debian/fossology-common/usr/share/fossology vendor; \
fi

	dh_install -a
# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs -A -Nfossology-common debian/README.Debian
	dh_installdocs -pfossology-common
	dh_installexamples
#	dh_installdebconf
	dh_installlogrotate
#	dh_installmime
	DH_OPTIONS= dh_installinit -o -pfossology --name=fossology
#	dh_installcron -pfossology-db
	dh_installman

# Do the lintian stuff by hand for now so we can depend on older debhelper to
# make backports easier, switch when etch support dropped
#	dh_lintian
	mkdir -p debian/fossology-common/usr/share/lintian/overrides
	if [ -f debian/fossology-common.lintian-overrides ]; then \
		cp debian/fossology-common.lintian-overrides debian/fossology-common/usr/share/lintian/overrides/fossology-common; \
	fi
	#mkdir -p debian/fossology-agents/usr/share/lintian/overrides
	#cp debian/fossology-agents.lintian-overrides debian/fossology-agents/usr/share/lintian/overrides/fossology-agents
	#mkdir -p debian/fossology-agents-single/usr/share/lintian/overrides
	#cp debian/fossology-agents-single.lintian-overrides debian/fossology-agents-single/usr/share/lintian/overrides/fossology-agents-single

	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure
