{# Copyright 2017 Siemens AG

   Copying and distribution of this file, with or without modification,
   are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
   This file is offered as-is, without any warranty.
#}
{% extends "include/base.html.twig" %}

{% block content %}

  {{ Inputfm }}

  <p>{{ dataMessage }}</p>
  {% if data %}
  <table id='adminLicenseTable' rules='rows' width='100%' cellpadding='3'>
  </table>
  {% endif %}
{% endblock %}

{% block foot %}
  {{ parent() }}
  <script src="scripts/jquery.dataTables.min.js"></script>
  {% if data %}
  <script type="text/javascript"> {% include 'admin_license_file.js.twig' %}</script>
  {% endif %}
{% endblock %}
