{% extends "default.html" %}

{% block foot %}
{{ parent() }}
<script src="scripts/jquery.dataTables-1.9.4.min.js" type="text/javascript"></script>
<script src="scripts/jquery.plainmodal.min.js" type="text/javascript"></script>
<script src="scripts/job-queue-poll.js" type="text/javascript"></script>
<script src='scripts/change-license-common.js' type='text/javascript'></script>
<script src='scripts/change-license-browse.js' type='text/javascript'></script>
<script src='scripts/license.js' type='text/javascript'></script>
{% endblock %}
