{% extends "include/base.html.twig" %}

{% block content %}
    {{ parent() }}
    <h3 id="jobResult"></h3>
{% endblock %}

{% block foot %}
    {{ parent() }}

    <script src="scripts/job-queue-poll.js" type="text/javascript"></script>
    <script>
        function gotoDownloadRepo() {
          $("#jobResult").html("<a href='{{ downloadLink }}'>Download Report</a>");
        }

        function addLinkAndQueueAjaxPolling() {
          var jqPk = {{ jqPk }};
          $("#jobResult").html("report genereation scheduled as " + linkToJob(jqPk));
          queueUpdateCheck(jqPk, gotoDownloadRepo);
        }

        $(document).ready(function () {
            addLinkAndQueueAjaxPolling();
        });
    </script>
{% endblock %}
