{% extends "ui-clearing-view.html" %}


{% block rhs %}

<form method="post">
  <input name="lastItem" type="hidden" value="{{ itemId }}"/>

  <div class="groupBox">
      {% if previousItem %}
      <button type="submit" name="update" onclick="form.action = '{{ uri }}&item={{ previousItem }}';">&lt;</button>
      {% endif %}
      <button type="submit" name="update" onclick="form.action = '{{ uri }}&item={{ itemId }}';">{{ 'Update'|t }}</button>
      {% if nextItem %}
      <button type="submit" name="update" onclick="form.action = '{{ uri }}&item={{ nextItem }}';">&gt;</button>
      {% endif %}
  </div>

  <div class="groupBox">
    <fieldset style="display:inline">
        <legend>
            {{ 'Issue Type'|t }}
        </legend>
        <input type="radio" name="iType" value="0"/> {{ 'Not decided'|t }} <br/>
        <input type="radio" name="iType" value="1"/> {{ 'Not relevant'|t }} <br/>
        <input type="radio" name="iType" value="2"/> {{ 'To be decided'|t }} <br/>
        <input type="radio" name="iType" value="3"/> {{ 'Identified issue'|t }} <br/>
    </fieldset>
    <br/>
   {{ 'Description'|t }}: <br/>
   <textarea rows="2" style="width:90%" onfocus="rmDefaultText(this,'what')">what</textarea><br/>
   {{ 'Text finding'|t }}: <br/>
   <textarea rows="2" style="width:90%" onfocus="rmDefaultText(this,'in text')">in text</textarea><br/>
   {{ 'Comment'|t }}: <br/>
   <textarea rows="2" style="width:90%" onfocus="rmDefaultText(this,'comment')">comment</textarea><br/>

  </div>
</form>



{% endblock %}
