

  {% if previousItem or nextItem %}
  <div>
    {% if previousItem %} <a class="buttonLink" href="{{ uri }}&item={{ previousItem }}">&lt;</a> {% endif %}
    {% if nextItem %} <a class="buttonLink" href="{{ uri }}&item={{ nextItem }}">&gt;</a> {% endif %}
  </div>
  {% endif %}

  <div style="clear:both">
      <table border="1" id="licenseDecisionTable">
          <tr>
              <th>
                  <i18n>License</i18n>
              </th>
              <th>
                  <i18n>Source</i18n>
              </th>
              <th>
                  <i18n>Action</i18n>
              </th>
          </tr>
          {% for licenseDecision in licenseDecisions %}
          <tr>
              <td>
                  <a title="License Reference" href="javascript:;"
                     onclick="javascript:window.open('/repo/?mod=view-license&amp;lic={{ licenseDecision[0] }}','License Text','width=600,height=400,toolbar=no,scrollbars=yes,resizable=yes');">
                      {{ licenseDecision[0] }}
                  </a>
              </td>
              <td>
                  {% for agent in licenseDecision[1] %}
                  {{agent}}<br/>
                  {% endfor %}
              </td>
              <td>

              </td>
          </tr>
          {% endfor %}
      </table>
  </div>


  {% include 'change_license_modal.html' %}
  
  {{ licenseInformation }}
  {% if clearingHistory %}


<h3>
    <i18n>Clearing History</i18n>
</h3>
<div class="scrollable2">
    <table border="1" id="clearingHistoryTable" name="clearingHistoryTable">
        <tr>
            <th>
                <i18n>Date</i18n>
            </th>
            <th>
                <i18n>Username</i18n>
            </th>
            <th>
                <i18n>Scope</i18n>
            </th>
            <th>
                <i18n>Type</i18n>
            </th>
            <th>
                <i18n>Licenses</i18n>
            </th>
            <th>
                <i18n>Comment</i18n>
            </th>
            <th>
                <i18n>Remark</i18n>
            </th>
        </tr>
        {% for row in clearingHistory %}
        <tr
        {%if row.isInactive %} class="inactiveClearing"{% endif%}>
        {% for col in row.content %}
        <td>{{ col }}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <span class="inactiveClearing">Inactive concluded licenses decisions</span>
</div>
{% endif %}
