<script>
    selectedLicensesTableColumns = [
        {"sTitle": "{{ 'License'|t }}", "sClass": "left"},
        {"sTitle": "{{ 'Source'|t }}", "sClass": "left", "bSortable": false},
        {"sTitle": "{{ 'Text'|t }}", "sClass": "center", "bSortable": false},
        {"sTitle": "{{ 'Comment'|t }}", "sClass": "center", "bSortable": false},
        {"sTitle": "{{ 'Action'|t }}", "sClass": "center", "bSortable": false}
    ];

    uploadId = {{ uploadId }};
    itemId = {{ itemId }};

    selectedLicensesTableConfig = {
        "bServerSide": true,
        "sAjaxSource": "?mod=conclude-license&do=licenseDecisions",
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({"name": "upload", "value": uploadId});
            aoData.push({"name": "item", "value": itemId});
            $.getJSON(sSource, aoData, fnCallback).fail(function () {
                if (confirm("You are not logged in. Go to login page?"))
                    window.location.href = "' . {{ uri }} . '?mod=auth";
            });
        },
        "aoColumns": selectedLicensesTableColumns,
        "iDisplayLength": 25,
        "bProcessing": true,
        "bStateSave": true,
        "bRetrieve": true,
        "bPaginate": false,
        "bFilter": false
    };

    function createLicenseDecisionTable() {
        otable = $('#licenseDecisionsTable').dataTable(selectedLicensesTableConfig);
        return otable;
    }

    addLicenseTableColumns = [
        {"sTitle": "{{ 'License'|t }}", "sClass": "left"},
        {"sTitle": "{{ 'Action'|t }}", "sClass": "center", "bSortable": false}
    ];

    addLicenseTableConfig = {
        "bServerSide": true,
        "sAjaxSource": "?mod=conclude-license&do=licenses",
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({"name": "upload", "value": uploadId});
            aoData.push({"name": "item", "value": itemId});
            $.getJSON(sSource, aoData, fnCallback).fail(function () {
                if (confirm("You are not logged in. Go to login page?"))
                    window.location.href = "' . {{ uri }} . '?mod=auth";
            });
        },
        "aoColumns": addLicenseTableColumns,
        "iDisplayLength": 25,
        "bProcessing": true,
        "bStateSave": true,
        "bRetrieve": true,
        "bPaginate": false,
        "bFilter": true
    };

    function createLicenseSelectionTable() {
        otable = $('#licenseSelectionTable').dataTable(addLicenseTableConfig);
        return otable;
    }

    $(document).ready(function () {
        createLicenseDecisionTable();
        createLicenseSelectionTable();
    });
</script>
