{% extends "include/base.html" %}

{% block content %}
<div style='border: thin dotted gray; background-color:lightyellow'>
    {{ path }}
</div>
<div id="leftrightalignment" name="leftrightalignment">
    <table border="0" padding="0" style="height:100%; width:100%">
        <tr>
            <td padding="0" style="position:relative; height: 100%; maxWidth:70%; width:50%">
                <div class="centered">
                    {{ pageMenu }}
                    <button class="legendHider">
                        <i18n>Hide Legend</i18n>
                    </button>
                    <button class="legendShower">
                        <i18n>Show Legend</i18n>
                    </button>
                </div>
                <div class="boxnew">{{ textView }}</div>
                {{ legendBox }}
            </td>
            <td class="headerBox">
                {% include 'view_license_rhs.html' %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}


{% block foot %}
{{ parent() }}
<script src="scripts/jquery.plainmodal.min.js" type="text/javascript"></script>
<script src="scripts/job-queue-poll.js" type="text/javascript"></script>
<script src="scripts/change-license-common.js" type="text/javascript"></script>
<script src="scripts/change-license-view.js" type="text/javascript"></script>
<script src="scripts/tools.js" type="text/javascript"></script>
{% endblock %}