{# SPDX-FileCopyrightText: © Fossology contributors
 
   SPDX-License-Identifier: GPL-2.0-only
#}

{% extends "include/base.html.twig" %}

{% block content %}
  {{ dir2browse }} </P>
  {{ pageContent }}
{% endblock %}


{% block foot %}
  {{ parent() }}

{% endblock %}