{# Copyright 2014-2017 Siemens AG

   Copying and distribution of this file, with or without modification,
   are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
   This file is offered as-is, without any warranty.
#}
<table border="0" width="100%">
<tr>
  <td valign="top">
    <div id="EmailUrlAuthorTabs">
      <ul>
        <li><a href="#EmailTab">Email</a></li>
        <li><a href="#UrlTab">URL</a></li>
        <li><a href="#AuthorTab">Author</a></li>
      </ul>
      <div id="EmailTab">
        {{ contEmail }}
      </div>
      <div id="UrlTab">
        {{ contUrl }}
      </div>
      <div id="AuthorTab">
        {{ contAuthor }}
      </div>
    </div>
  </td>
  <td valign="top">{{ fileList }}</td>
</tr>
</table>
