{# SPDX-FileCopyrightText: © Fossology contributors
 
   SPDX-License-Identifier: GPL-2.0-only
#}

<div>
  <table border="1" width="100%" id="copyright{{ type }}">
  </table>
</div>
<br/>
<script language="javascript">
  {% include histTable.js.twig %}
</script>