<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./phpunit-bootstrap.php">
    <php>
        <env name="SYSCONFDIR" value="/usr/local/etc/fossology/"/>
    </php>
    <logging>
        <log type="coverage-html" target="../testReport" charset="UTF-8" highlight="false"/>
    </logging>

    <testsuites>
        <testsuite name="Fossology PhpUnit Test Suite">
            <directory suffix="Test.php">lib/php</directory>
            <!--<directory suffix=".php">lib/php/tests</directory>-->
            <directory suffix="Test.php">www/ui_tests/Unit</directory>
            <directory suffix="Test.php">monk/agent_tests/Functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
                <directory suffix="Test.php">.</directory>
                <directory suffix=".php">testing</directory>
                <directory suffix=".php">tutorials</directory>
                <directory suffix=".php">*/*tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
