# SPDX-FileCopyrightText: © 2022 Siemens AG
# SPDX-FileCopyrightText: © Gaurav Mishra <mishra.gaurav@siemens.com>

# SPDX-License-Identifier: GPL-2.0-only AND LGPL-2.1-only
name: Docker test

on:
  pull_request

jobs:
  docker-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build images
      run: docker compose build

    - name: Test cluster
      run: src/testing/docker/test-cluster.sh

    - name: Test standalone
      run: src/testing/docker/test-standalone.sh
